body{
    background-image: url("../images/desk.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat center center cover;
}

#intro-page{
    display: flex;
    /* display: none; */
    /* ^^^ Makes the intro page disappear, will need to update using DOM  */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}