body{
    background-image: url("../images/desk.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat center center cover;
}

#intro-page{
    display: flex;
    /* display: none; */
    /* ^^^ Makes the intro page disappear, will need to update using DOM  */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#game-page{
    display: none;
    padding: 20px;
}
#buttons{
    grid-column: 2 / span 3;
    grid-row-start: 1;
    grid-row-end: 2;
    place-self: center;
}
#left{
    grid-column: 1fr;
    grid-row: 3/4;
    overflow-wrap:break-word;
    width: 380px;
    height: 200px;
    font-size: 13px;
    place-self: center;
    background-color: lightgrey;
    border: 3px solid black;
}
#right{
    grid-column: 5 / 6;
    grid-row: 3/4;
    width: 380px;
    height: 200px;
    font-size: 13px;
    overflow-wrap: break-word;
    place-self: center;
    background-color: lightgrey;
    border: 3px solid black;
}

#board{
    /* display: flex; */
    grid-column: 2/span 3;
    grid-row: 4/5;
    place-self: center;
    /* max-height: 40vw;
    max-width: 50vw; */
    width: 600px;
    height: 600px;
    /* margin-left: auto;
    top: 120px; */
    
    background: #878484;
    border: 4px solid #000000;
}

