body {
    background-image: url("../images/desk.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat center center cover;
}

#intro-page {
    display: flex;
    /* display: none; */
    /* ^^^ Makes the intro page disappear, will need to update using DOM  */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#game-page {
    display: none;
    padding: 20px;
}

#buttons {
    grid-column: 2 / span 3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-row: 1 / 2;
    place-self: center;
    grid-gap: 10px;
    height: 100px;
}

#left {
    grid-column: 1fr;
    grid-row: 3/4;
    overflow-wrap: break-word;
    width: 380px;
    height: 200px;
    font-size: 13px;
    place-self: center;
    background-color: lightgrey;
    border: 3px solid black;
}

#right {
    grid-column: 5 / 6;
    grid-row: 3/4;
    width: 380px;
    height: 200px;
    font-size: 13px;
    overflow-wrap: break-word;
    place-self: center;
    background-color: lightgrey;
    border: 3px solid black;
}

/* #board{
    grid-column: 2/span 3;
    grid-row: 4/5;
    place-self: center;
    width: 600px;
    height: 600px;
    background: #878484;
    border: 4px solid #000000;
} */

#board {
    /* grid-column: 2/span 3;
    grid-row: 3em; */
    grid-area: 3/ 3 / 5/ 5;
    place-self: center;
    align-self: center;
    width: 870px;
    height: 750px;
    background: #878484;;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}